<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-person-stalker" icon-on="ion-person-stalker active" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Truck" icon-off="ion-android-bus" icon-on="ion-android-bus active" href="#/tab/truck">
    <ion-nav-view name="tab-truck"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Help" icon-off="ion-android-locate" icon-on="ion-android-locate active" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
